@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul,ol,li{
    list-style: none;
}

header{
    position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	background: linear-gradient(45deg, black, royalblue);

    h1{
        font: bold 50px/1 "orbitron";
        color: #fff;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);

        &::after{
            content: "";
            display: block;
            width: 120px;
            height: 2px;
            background: #fff;
            margin-top: 20px;
        }
    }
    p{
        font: 16px/1 "orbitron";
        color: #fff;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(500%);
    }
    .sns{
        position: absolute;
        left: 40px;
        bottom: 100px;

        &::after{
            content: "";
            display: block;
            clear: both;
        }
        li{
            float: left;
            margin-right: 10px;

            a{
                font: 15px/1 "orbitron";
                color: #fff;
                
                span{
                    font: 12px/1 "arial";
                    color: #fff;
                }
            }
        }
    }

}

section{
    margin-left: 400px;
	padding: 20px;
	box-sizing: border-box;

    .filter{
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;

        &::after{
            content: "";
            display: block;
            clear: both;
        }
        li{
            float: left;
            margin-right: 20px;

            a{
                display: block;
                width: 100px;
                height: 26px;
                font: bold 7px/26px "orbitron";
                background: #fff;
                color: #aaa;
                text-align: center;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                border-radius: 4px;

                &.on{
                    background: linear-gradient(45deg, black, royalblue);
                    color: #fff;
                    box-shadow: 5px 5px 10px rgba(14, 1, 134, 0.4);
                }
            }
        }
    }
    .wrap{
        width: 100%;

        &::after{
            display: block;
            clear: both;
            content: "";
        }
        article{
            float: left;
            width: calc(100% / 6);
            padding: 10px;

            .inner{
                width: 100%;
                height: 100%;
                background: #fff;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                padding: 20px;

                img{
                    width: 100%;
                    margin-bottom: 15px;
                }
                h2{
                    font: bold 11px/1 "orbitron";
                    color: #444;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                }
                p{
                    font: 10px/1.2 "orbitron";
                    color: #777;
                }
            }
        }
    }
}

@media screen and (max-width: 1599px){
    header{
        width: 350px;
    
        h1{
            font: bold 40px/1 "orbitron";
            color: #fff;
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
        }    
    }
    
    section{
        margin-left: 400px;
        padding: 20px;
        box-sizing: border-box;

        .wrap{
            article{
                width: calc(100% / 5);
            }
        }
    }
}
@media screen and (max-width: 1199px){
    header{
        position: relative;
		width: 100%;
		height: 80px;
    
        h1{
            font: bold 24px/1 "arial";

            &::after{display: none;}
        }
        p{
            display: none;
        }
        .sns{
            right: 50px;
            bottom: 25px;
            left: auto;
        }
    }
    
    section{
        margin-left: 0px;
        .wrap{
            article{
                width: calc(100% / 4);
            }
        }
    }
}
@media screen and (max-width: 899px) {
    section{
        margin-left: 0px;
        .wrap{
            article{
                width: calc(100% / 3);
            }
        }
    }
}
@media screen and (max-width: 679px) {
    header{
        .sns{
            li{
                margin-right: 0;
                margin-left: 20px;
                a{
                    span{
                        display: none;
                    }
                }
            }
        }
    }

    section{
        margin-left: 0px;
        .wrap{
            article{
                width: calc(100% / 2);
            }
        }
    }
}
@media screen and (max-width: 539px){
    header{
        .sns{
            right: 20px;
        }
    }

    section{
        margin-left: 0px;
        .filter{
            li{
                float: left;
                width: calc(100% / 3);
                margin-right: 0px;
                padding: 0 5px;

                a{
                    display: block;
                    width: 100%;
                    height: 26px;
                    font: bold 7px/26px "orbitron";
                    background: #fff;
                    color: #aaa;
                    text-align: center;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }
            }
        }
        .wrap{
            article{
                width: calc(100% / 1);
            }
        }
    }
}